%% Directories
{sub_dirs, ["rel","apps/echo"]}.
{lib_dirs, ["apps","deps"]}.

%% Lager transform
{erl_opts, [{parse_transform, lager_transform},{i,"apps"},debug_info, warn_unused_vars]}.

%% Dependencies
{deps, [
    % {misultin,   ".*", {git, "git://github.com/ostinelli/misultin",       {branch, "master"}}},
    % {json,       ".*", {git, "git://github.com/davisp/eep0018",           {branch, "master"}}},
    % {webmachine, ".*", {git, "git://github.com/basho/webmachine",         {branch, "master"}}},
    % {riakc,      ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}},
      {lager,      ".*", {git, "git://github.com/basho/lager",              {branch, "master"}}},
      {sync,       ".*", {git, "git://github.com/rustyio/sync.git",         {branch, "master"}}}
]}.

